@inject IDialogService DialogService
@inherits LayoutComponentBase

<MudDialogProvider />
<MudSnackbarProvider />

<MudThemeProvider Theme="darkTheme" />

<MudLayout>
    <MudAppBar Dense="true" Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudLink Typo="Typo.h5" Href="" Underline="Underline.None">Sunduk</MudLink>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.SendToMobile" OnClick="OpenDialog" Color="Color.Inherit" Edge="Edge.End" />
        <MudTooltip Text="@version" Placement="Placement.Start">
            <MudIconButton Icon="@Icons.Material.Filled.HelpOutline" OnClick="OpenChangelogDialog" Color="Color.Inherit" Edge="Edge.End" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<MudDialog @bind-IsVisible="visible">
    <TitleContent>
        <MudText Typo="Typo.h5"></MudText>
    </TitleContent>
    <DialogContent>
        @if (!androidhelp && !applehelp)
        {
            <img src="/qr.svg" asp-append-version="true" width="300" />
        }
        @if (androidhelp)
        {
            <div id="android" class="ma-0" style="height:305px;width:300px;overflow: auto;">
                <MudPaper Elevation="0">
                    <MudText Typo="Typo.caption" Align="Align.Center">"Установку" нормально поддерживает только Google Chrome. После сканирования QR-кода и открытия сундука в браузере телефона появится предложение установить.</MudText>
                    <img src="/img/android-1.png" asp-append-version="true" width="280" />
                    <MudText Typo="Typo.caption" Align="Align.Center">Если предложения установить нет, то в выпадающем меню также есть пункт "Установить приложение"</MudText>
                    <img src="/img/android-1-1.png" asp-append-version="true" width="280" />
                    <MudText Typo="Typo.caption" Align="Align.Center">После чего нужно подтвердить установку.</MudText>
                    <img src="/img/android-2.png" asp-append-version="true" width="280" />
                </MudPaper>
            </div>
        }
        @if (applehelp)
        {
            <div id="apple" class="ma-0" style="height:305px;width:300px;overflow: auto;">
                <MudPaper Elevation="0">
                    <MudText Typo="Typo.body1" Align="Align.Center">Картинки запилю потом.</MudText>
                    <MudText Typo="Typo.caption" Align="Align.Center">"Установку" нормально поддерживает Safari и, наверное, Google Chrome. После сканирования QR-кода и открытия сундука в браузере телефона нажимаем "поделиться".</MudText>
                    <MudDivider />
                    <MudText Typo="Typo.caption" Align="Align.Center">Листаем и нажимаем "На экран «Домой»"</MudText>
                    <MudDivider />
                    <MudText Typo="Typo.caption" Align="Align.Center">После чего нужно подтвердить установку.</MudText>
                </MudPaper>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudText Typo="Typo.caption">Установка:</MudText>
        <MudIconButton Icon="@Icons.Material.Filled.Android" Color="Color.Primary" OnClick="Android"></MudIconButton>
        <MudIconButton Icon="@Icons.Custom.Brands.Apple" Color="Color.Primary" OnClick="Apple" Class="mr-3"></MudIconButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="Submit" Class="px-10 mr-4">OK</MudButton>
    </DialogActions>
</MudDialog>


@code
{
    string version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString();

    bool _drawerOpen = true;

    private bool visible;
    private bool androidhelp = false;
    private bool applehelp = false;

    private void OpenDialog() => visible = true;

    private void OpenChangelogDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions() { FullScreen = false, CloseButton = true };
        DialogService.Show<ChangelogDialog>("Описание", parameters, options);
    }

    void Submit() => visible = false;
    void Android()
    {
        androidhelp = !androidhelp;
        if (applehelp)
        {
            applehelp = false;
        }
    }
    void Apple()
    {
        applehelp = !applehelp;
        if (androidhelp)
        {
            androidhelp = false;
        }
    }




    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Primary = "#FF5722",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)"
        }
    };

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}