<style>
    .tl {
        padding: 0px 15px 0px 0px;
    }
</style>
<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-3">
    <MudGrid>
        <MudItem xs="6">
            <MudSelect @bind-Value="WorkpieceForm" Label="Форма заготовки" T="Form" Variant="Variant.Outlined">
                <MudSelectItem Value="@(Form.Circle)">Круглая</MudSelectItem>
                <MudSelectItem Value="@(Form.Rectangle)">Прямоугольная</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="6">
            <MudSelect @bind-Value="WorkpieceMaterial" Label="Материал" T="Material" Variant="Variant.Outlined">
                <MudSelectItem Value="@(Material.Steel)">Черная сталь</MudSelectItem>
                <MudSelectItem Value="@(Material.Stainless)">Нержавеющая сталь</MudSelectItem>
            </MudSelect>

        </MudItem>
        <MudItem xs="6">
            @if (WorkpieceForm == Form.Circle)
            {
                <MudTextField @bind-Value="_WorkpieceExternalDiameter" Label="Наружный диаметр" Adornment="Adornment.End" AdornmentText="мм" Variant="Variant.Text" Immediate="true"></MudTextField>
                <MudTextField @bind-Value="_WorkpieceInternalDiameter" Label="Внутренний диаметр" Adornment="Adornment.End" AdornmentText="мм" Variant="Variant.Text" Immediate="true"></MudTextField>
            }
            @if (WorkpieceForm == Form.Rectangle)
            {
                <MudTextField @bind-Value="_WorkpieceWidth" Label="Ширина" Adornment="Adornment.End" AdornmentText="мм" Variant="Variant.Text" Immediate="true"></MudTextField>
                <MudTextField @bind-Value="_WorkpieceHeight" Label="Высота" Adornment="Adornment.End" AdornmentText="мм" Variant="Variant.Text" Immediate="true"></MudTextField>
            }
        </MudItem>
        <MudItem xs="6">
            <MudTextField @bind-Value="_WorkpieceLength" Label="Длина заготовки" Adornment="Adornment.End" AdornmentText="мм" Variant="Variant.Text" Immediate="true"></MudTextField>
            <MudTextField @bind-Value="_PartsCount" Label="Количество" Adornment="Adornment.End" AdornmentText="шт" Variant="Variant.Text" Immediate="true"></MudTextField>
        </MudItem>
        <MudItem Class="mt-4" xs="12">
            <MudPaper Class="pa-4" Outlined="true">
                <table>
                    <tr>
                        <td>
                            <MudText>Информация:</MudText>
                        </td>
                        <td>
                            <MudButtonGroup Color="Color.Primary" Variant="Variant.Text" OverrideStyles="false">
                                <MudButton OnClick="(() => TimeModifier = TimeValue.Second)"
                                           Variant="(TimeModifier == TimeValue.Second ? Variant.Outlined : Variant.Text)" 
                                           Color="(TimeModifier == TimeValue.Second ? Color.Primary : Color.Default)">с</MudButton>
                                <MudButton OnClick="(() => TimeModifier = TimeValue.Minute)"
                                           Variant="(TimeModifier == TimeValue.Minute ? Variant.Outlined : Variant.Text)" 
                                           Color="(TimeModifier == TimeValue.Minute ? Color.Primary : Color.Default)">мин</MudButton>
                                <MudButton OnClick="(() => TimeModifier = TimeValue.Hour)"
                                           Variant="(TimeModifier == TimeValue.Hour ? Variant.Outlined : Variant.Text)" 
                                           Color="(TimeModifier == TimeValue.Hour ? Color.Primary : Color.Default)">ч</MudButton>
                            </MudButtonGroup>
                        </td>
                    </tr>
                    <tr>
                        <td class="tl"><MudText Typo="Typo.caption">Заготовка:</MudText></td>
                        <td colspan="4"><MudText Typo="Typo.caption">@WorkpieceInfo</MudText></td>
                    </tr>
                    <tr>
                        <td class="tl"><MudText Typo="Typo.caption">Партия:</MudText></td>
                        <td colspan="4"><MudText Typo="Typo.caption">@(PartsCount + " шт.")</MudText></td>
                    </tr>
                    @if (_debug)
                    {
                        <tr>
                            <td class="tl"><MudText Typo="Typo.caption">CutSpeed:</MudText></td>
                            <td><MudText Typo="Typo.caption">@(CutSpeed)</MudText></td>
                        </tr>
                        <tr>
                            <td class="tl"><MudText Typo="Typo.caption">SawFeed:</MudText></td>
                            <td><MudText Typo="Typo.caption">@(SawFeed)</MudText></td>
                        </tr>
                        <tr>
                            <td class="tl"><MudText Typo="Typo.caption">ReturnTime:</MudText></td>
                            <td><MudText Typo="Typo.caption">@(ReturnTime)</MudText></td>
                        </tr>
                        <tr>
                            <td class="tl"><MudText Typo="Typo.caption">BarTime:</MudText></td>
                            <td><MudText Typo="Typo.caption">@(BarTime)</MudText></td>
                        </tr>
                        <tr>
                            <td class="tl"><MudText Typo="Typo.caption">PrepTime:</MudText></td>
                            <td><MudText Typo="Typo.caption">@(PrepTime)</MudText></td>
                        </tr>
                        <tr>
                            <td class="tl"><MudText Typo="Typo.caption">SawingTime:</MudText></td>
                            <td><MudText Typo="Typo.caption">@(SawingTime)</MudText></td>
                        </tr>
                    }
                    <tr>
                        <td class="tl"><MudText Typo="Typo.caption">Время распила 1шт:</MudText></td>
                        @if (ValidWorkpiece)
                        {
                            <td><MudText Typo="Typo.caption">@(Util.ToPrettyString(SawingTime / (double)TimeModifier, TimePrecision) + TimeUnit)</MudText></td>
                        }
                    </tr>
                    <tr>
                        <td class="tl"><MudText Typo="Typo.caption">Время смены 1шт:</MudText></td>
                        @if (ValidWorkpiece)
                        {
                            <td><MudText Typo="Typo.caption">@(Util.ToPrettyString(PrepTime / (double)TimeModifier, TimePrecision) + TimeUnit)</MudText></td>
                        }
                    </tr>
                    <tr>
                        <td class="tl"><MudText Typo="Typo.caption">Общее время:</MudText></td>
                        @if (ValidWorkpiece)
                        {
                            <td><MudText Typo="Typo.caption">@(Util.ToPrettyString(TotalTime / (double)TimeModifier, TimePrecision) + TimeUnit)</MudText></td>
                        }
                    </tr>
                </table>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>


@code
{
    /// <summary>
    /// Подача тисков, мм/мин
    /// </summary>
    private const double _sawBarFeed = 3600;

    /// <summary>
    /// Подача отвода полотна, мм/мин
    /// </summary>
    private const double _sawRapidFeed = 2000;

    /// <summary>
    /// Суммарное время отжима и поджима прутка тисками, сек
    /// </summary>
    private const double _clampingTime = 6.5;

    public string TimeUnit { get
        {
            switch (TimeModifier)
            {
                case TimeValue.Second:
                    return " с";
                case TimeValue.Minute:
                    return " мин";
                case TimeValue.Hour:
                    return " ч";
            }
            return string.Empty;
        } }

    public int TimePrecision
    {
        get
        {
            switch (TimeModifier)
            {
                case TimeValue.Second:
                    return 0;
                case TimeValue.Minute:
                    return 2;
                case TimeValue.Hour:
                    return 4;
            }
            return 0;
        }
    }

    private bool _debug = false;

    public enum Form { Circle, Rectangle }
    public Form WorkpieceForm { get; set; } = Form.Circle;

    public enum Material { Steel, Stainless }
    public Material WorkpieceMaterial { get; set; } = Material.Stainless;

    public enum TimeValue { Second = 1, Minute = 60, Hour = 3600 }
    public TimeValue TimeModifier { get; set; } = TimeValue.Minute;

    public string _WorkpieceExternalDiameter { get; set; } = string.Empty;
    public double WorkpieceExternalDiameter => Util.GetDouble(_WorkpieceExternalDiameter);

    public string _WorkpieceInternalDiameter { get; set; } = string.Empty;
    public double WorkpieceInternalDiameter => Util.GetDouble(_WorkpieceInternalDiameter);

    public string _WorkpieceWidth { get; set; } = string.Empty;
    public double WorkpieceWidth => Util.GetDouble(_WorkpieceWidth);

    public string _WorkpieceHeight { get; set; } = string.Empty;
    public double WorkpieceHeight => Util.GetDouble(_WorkpieceHeight);

    public string _WorkpieceLength { get; set; } = string.Empty;
    public double WorkpieceLength => Util.GetDouble(_WorkpieceLength);

    public string _PartsCount { get; set; } = string.Empty;
    public double PartsCount => Util.GetDouble(_PartsCount, 1);

    #region Заготовка
    public bool ValidWorkpiece
    {
        get
        {
            if (WorkpieceForm == Form.Circle && WorkpieceExternalDiameter > 0 && WorkpieceInternalDiameter < WorkpieceExternalDiameter && WorkpieceLength > 0)
            {
                return true;
            }
            if (WorkpieceForm == Form.Rectangle && WorkpieceWidth > 0 && WorkpieceHeight > 0 && WorkpieceLength > 0)
            {
                return true;
            }
            return false;
        }
    }

    public string WorkpieceInfo
    {
        get
        {
            if (ValidWorkpiece && WorkpieceForm == Form.Circle)
            {
                if (WorkpieceInternalDiameter > 0)
                {
                    return $"Труба Ø{Util.ToPrettyString(WorkpieceExternalDiameter)}x{Util.ToPrettyString((WorkpieceExternalDiameter - WorkpieceInternalDiameter) / 2)} " +
                            $"L{Util.ToPrettyString(WorkpieceLength)}мм";
                }
                else
                {
                    return $"Круг Ø{Util.ToPrettyString(WorkpieceExternalDiameter)} " +
                            $"L{Util.ToPrettyString(WorkpieceLength)}мм";
                }
            }
            if (ValidWorkpiece && WorkpieceForm == Form.Rectangle)
            {
                return $"Прямоугольник {Util.ToPrettyString(WorkpieceWidth)}x{Util.ToPrettyString(WorkpieceHeight)} " +
                        $"L{Util.ToPrettyString(WorkpieceLength)}мм";
            }
            return $"Не указана";
        }
    }
    #endregion

    /// <summary>
    /// Скорость резания, м/мин (не нужна вроде)
    /// </summary>
    public double CutSpeed {
        get
        {
            if (WorkpieceMaterial == Material.Steel)
            {
                return 50;
            }
            if (WorkpieceMaterial == Material.Stainless)
            {
                return 40;
            }
            return 0;
        }
    }

    /// <summary>
    /// Подача, мм/мин
    /// </summary>
    public double SawFeed { get
        {
            if (WorkpieceForm == Form.Circle)
            {
                if (WorkpieceMaterial == Material.Stainless)
                {
                    switch (WorkpieceExternalDiameter)
                    {
                        case < 50:
                            return 20;
                        case < 75:
                            return 16;
                        case < 100:
                            return 14;
                        case < 150:
                            return 12;
                        case < 190:
                            return 9;
                        case < 230:
                            return 7;
                        case < 280:
                            return 6;
                        case < 320:
                            return 5;
                    }
                }
                if (WorkpieceMaterial == Material.Steel)
                {
                    switch (WorkpieceExternalDiameter)
                    {
                        case < 50:
                            return 30;
                        case < 100:
                            return 20;
                        case < 150:
                            return 16;
                        case < 190:
                            return 12;
                        case < 230:
                            return 10;
                        case < 280:
                            return 8;
                        case < 320:
                            return 7;
                    }
                }
            }
            return 0;
        }
    }

    /// <summary>
    /// Время отвода, сек
    /// </summary>
    public double ReturnTime => (WorkpieceExternalDiameter + 25) / (_sawRapidFeed / 60);

    /// <summary>
    /// Время отвода и толкания прутка тисками, сек
    /// </summary>
    public double BarTime => WorkpieceLength / (_sawBarFeed / 60) * 2;

    /// <summary>
    /// Общее время смены заготовки, сек
    /// </summary>
    public double PrepTime => ReturnTime + BarTime + _clampingTime;

    /// <summary>
    /// Время распила одной заготовки, сек
    /// </summary>
    public double SawingTime => WorkpieceExternalDiameter / (SawFeed / 60);

    /// <summary>
    /// Общее время распиловки партии, сек
    /// </summary>
    public double TotalTime => PartsCount * (PrepTime + SawingTime);

}
