<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div>
                <p style="font-family: 'Saira Stencil One'; font-size: xx-large; color: #ff5722; position: absolute; top: 30vh; width: 80%; text-align: center" class=logo>
                    4046
                </p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
