<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-3">
    <MudGrid>
        <MudItem xs="6">
            <MudTextField @bind-Value="_DrillDiameter" T="string" Label="Диаметр" Variant="Variant.Filled" Adornment="Adornment.End" AdornmentText="мм" Immediate="true" 
                          @onfocus="() => CurrentImage = Images.DrillDiameter"
                          @onfocusout="() => CurrentImage = Images.Drill"/>
        </MudItem>
        <MudItem xs="6">
            <MudTextField @bind-Value="_DrillAngle" T="string" Label="Угол" Variant="Variant.Filled" Immediate="true"
                          @onfocus="() => CurrentImage = Images.DrillAngle"
                          @onfocusout="() => CurrentImage = Images.Drill"/>
        </MudItem>
        @if (DrillDiameter > 0 && DrillAngle > 0 && DrillAngle < 180)
        {
            <MudItem xs="12">
                <MudField Variant="Variant.Filled">
                    <MudText>@ResultMessage</MudText>
                </MudField>
            </MudItem>
        }
        <MudItem xs="12" xl="12">
            <MudCard Outlined="true" Style="margin: 0">
                <MudCardContent>
                    @if (CurrentImage == Images.Drill)
                    {
                        <center>
                            <img src="/img/stuffimages/drill/drill_n.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                    @if (CurrentImage == Images.DrillDiameter)
                    {
                        <center>
                            <img src="/img/stuffimages/drill/drill_diam_n.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                    @if (CurrentImage == Images.DrillAngle)
                    {
                        <center>
                            <img src="/img/stuffimages/drill/drill_angle_n.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                </MudCardContent>
                <div>
                    <img src="/img/stuffimages/drill/drill_n.svg" asp-append-version="true" width="0" height="0" />
                    <img src="/img/stuffimages/drill/drill_diam_n.svg" asp-append-version="true" width="0" height="0" />
                    <img src="/img/stuffimages/drill/drill_angle_n.svg" asp-append-version="true" width="0" height="0" />
                </div>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code 
{
    readonly int _imgHeigth = 100;
    readonly int _imgWidth = 250;

    public enum Images
    {
        Drill,
        DrillDiameter,
        DrillAngle
    };
    public enum ImageType { Diameter, ToolRaduis, ChamferAngle, ChamferSize };
    public Images CurrentImage { get; set; } = Images.Drill;

    public string _DrillDiameter { get; set; }
    public double DrillDiameter { get => Util.GetDouble(_DrillDiameter); }

    public string _DrillAngle { get; set; }
    public double DrillAngle { get => Util.GetDouble(_DrillAngle); }

    public string ResultMessage { get => $"Длина конуса {((DrillDiameter / 2) * Math.Tan((90 - DrillAngle / 2).Radians())).ToPrettyString()} мм"; }

}
