<style>
    .monofield {
        font-family: 'Roboto Mono', monospace;
    }
</style>
<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-3">
    <MudGrid Spacing="1">
        <MudItem xs="12" sm="6">
            <MudField Label="Параметры скругления" Variant="Variant.Filled" DisableUnderLine="true" Class="mt-1">
                <MudGrid Spacing="0">
                    <MudItem xs="12">
                        <MudRadioGroup @bind-SelectedOption="@RadiusType" Class="mb-n2 d-flex justify-center">
                            <MudRadio Option="@Radius.External" Color="Color.Primary" @onfocus="SetExternalType">Наружное</MudRadio>
                            <MudRadio Option="@Radius.Internal" Color="Color.Primary" @onfocus="SetInternalType">Внутреннее</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="_RadiusDiameter" T="string" Label="Конечный диаметр" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="мм" Immediate="true"
                                      @onfocus="() => CurrentImage = RadiusType == Radius.External ? Images.ExternalPartDiameter : Images.InternalPartDiameter" Margin="Margin.Dense"/>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="_RadiusSize" T="string" Label="Радиус скругления" Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="мм" Immediate="true"
                                      @onfocus="() => CurrentImage = RadiusType == Radius.External ? Images.ExternalRadiusSize : Images.InternalRadiusSize" Margin="Margin.Dense"/>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="_InsertRadius" T="string" Label="Радиус пластины" Variant="Variant.Text" Immediate="true" Adornment="Adornment.End" AdornmentText="мм"
                                      @onfocus="() => CurrentImage = RadiusType == Radius.External ? Images.ExternalToolRadius : Images.InternalToolRadius" Margin="Margin.Dense"/>
                    </MudItem>
                </MudGrid>
            </MudField>
            
        </MudItem>

        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudItem xs="12" sm="6" >
            <MudCard Elevation="0" Outlined="true" Class="mt-1">
                <MudCardContent>
                    
                    @if (CurrentImage == Images.ExternalRadiusSize)
                    {
                        <center>
                            <img src="/img/stuffimages/radius/ext_part_radius.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                    @if (CurrentImage == Images.ExternalPartDiameter)
                    {
                        <center>
                            <img src="/img/stuffimages/radius/ext_part_diam.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                    @if (CurrentImage == Images.ExternalToolRadius)
                    {
                        <center>
                            <img src="/img/stuffimages/radius/ext_tool_radius.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                    @if (CurrentImage == Images.InternalRadiusSize)
                    {
                        <center>
                            <img src="/img/stuffimages/radius/int_part_radius.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                    @if (CurrentImage == Images.InternalPartDiameter)
                    {
                        <center>
                            <img src="/img/stuffimages/radius/int_part_diam.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                    @if (CurrentImage == Images.InternalToolRadius)
                    {
                        <center>
                            <img src="/img/stuffimages/radius/int_tool_radius.svg" asp-append-version="true" width="@_imgWidth" height="@_imgHeigth" />
                        </center>
                    }
                </MudCardContent>
            </MudCard>
        </MudItem>
        <div>
            <img src="/img/stuffimages/radius/ext_part_radius.svg" asp-append-version="true" width="0" height="0" />
            <img src="/img/stuffimages/radius/ext_part_diam.svg" asp-append-version="true" width="0" height="0" />
            <img src="/img/stuffimages/radius/ext_tool_radius.svg" asp-append-version="true" width="0" height="0"/>
            <img src="/img/stuffimages/radius/ext_tool_radius.svg" asp-append-version="true" width="0" height="0"/>
            <img src="/img/stuffimages/radius/int_part_radius.svg" asp-append-version="true" width="0" height="0"/>
            <img src="/img/stuffimages/radius/int_part_diam.svg" asp-append-version="true" width="0" height="0"/>
            <img src="/img/stuffimages/radius/int_tool_radius.svg" asp-append-version="true" width="0" height="0"/>
        </div>
        </MudHidden>
        <MudItem xs="12">
            <MudField Label="Результат" Variant="Variant.Filled" DisableUnderLine="true" Class="mt-n3">
                <MudGrid Spacing="1">
                    <MudItem xs="12" Class="mt-2">
                        @if (RadiusDiameter > 0 && RadiusSize > 0)
                        {
                            <MudText Typo="Typo.body2">@($"Начальный диаметр с учетом радиуса пластины: {RadiusResult.ToPrettyString()} мм")</MudText>
                        }
                        @if (RadiusDiameter <= 0 && RadiusSize <= 0)
                        {
                            <MudText Typo="Typo.body2">@($"Начальный диаметр с учетом радиуса пластины: -")</MudText>
                        }
                    </MudItem>
                </MudGrid>
            </MudField>
        </MudItem>
        @if (RadiusDiameter > 0 && RadiusSize > 0)
        {
        <MudItem xs="12">
            <MudExpansionPanel Class="mt-2" Text="Пример программы для Fanuc">
                <MudItem xs="12">
                    <MudTextField Variant="Variant.Outlined" Class="monofield" ReadOnly="true" Lines="ExampleLines" Value="@RadiusExample" />
                </MudItem>
            </MudExpansionPanel>
        </MudItem>
        }
    </MudGrid>
    
    
</MudContainer>

@code 
{
    readonly int _imgHeigth = 187;
    readonly int _imgWidth = 300;

    public enum Images
    {
        ExternalRadiusSize,
        ExternalPartDiameter,
        ExternalToolRadius,
        InternalRadiusSize,
        InternalPartDiameter,
        InternalToolRadius,
    };
    public enum ImageType { Diameter, ToolRaduis, ChamferAngle, ChamferSize };
    public Images CurrentImage { get; set; }

    public string ResultMessage
    {
        get
        {
            if (RadiusDiameter > 0 && RadiusSize > 0)
            {
                return $"Начальный диаметр скругления с учетом радиуса пластины: {Util.ToPrettyString(RadiusResult)} мм";
            }
            return string.Empty;
        }
    }

    public string RadiusExample
    {
        get
        {
            if (RadiusDiameter > 0 && RadiusSize > 0)
            {
                return
                    $"G0 X{RadiusResult.NC()} Z1. S180 M3\n" +
                    $"G1 Z0. F0.1\n" +
                    $"X{RadiusDiameter.NC()} R{(RadiusSize + InsertRadius).NC()}\n" +
                    $"W-{(RadiusSize + InsertRadius).NC()}";
            }
            return string.Empty;
        }
    }
    public enum Radius { External, Internal };
    public Radius RadiusType { get; set; } = Radius.External;

    public string _RadiusDiameter { get; set; } = string.Empty;
    public double RadiusDiameter { get => Util.GetDouble(_RadiusDiameter); }

    public string _RadiusSize { get; set; } = string.Empty;
    public double RadiusSize { get => Util.GetDouble(_RadiusSize); }

    public string _InsertRadius { get; set; } = string.Empty;
    public double InsertRadius { get => Util.GetDouble(_InsertRadius); }

    public double RadiusResult
    {
        get
        {
            double result;
            if (RadiusType == Radius.External)
            {
                result = RadiusDiameter - (2 * (RadiusSize + InsertRadius) );
            }
            else
            {
                result = RadiusDiameter + (2 * (RadiusSize + InsertRadius));

            }
            return result;
        }
    }

    public int ExampleLines { get => RadiusExample.Count(f => f == '\n') + 1; }


    private void SetInternalType()
    {
        if (CurrentImage == Images.ExternalPartDiameter) CurrentImage = Images.InternalPartDiameter;
        if (CurrentImage == Images.ExternalRadiusSize) CurrentImage = Images.InternalRadiusSize;
        if (CurrentImage == Images.ExternalToolRadius) CurrentImage = Images.InternalToolRadius;
    }

    private void SetExternalType()
    {
        if (CurrentImage == Images.InternalPartDiameter) CurrentImage = Images.ExternalPartDiameter;
        if (CurrentImage == Images.InternalRadiusSize) CurrentImage = Images.ExternalRadiusSize;
        if (CurrentImage == Images.InternalToolRadius) CurrentImage = Images.ExternalToolRadius;
    }
}
